.galleria {
  float: left;
  padding-left: 20px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-top: 0%;
}

.startslideshow {
  float: right;
  font-size: 24px;
  line-height: 15px;
  margin-top: 1%;
}

button {
  float: right;
  border-radius: 0px;
  background-color: white;
}

.masonry {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    padding-left: 3%;
    padding-right: 0%;
    margin: auto;
    padding-top: 5%;
  }
  .masonry .column {
    width: 25%;
    margin-bottom: 20px;
  }

  .masonry .item {
    position: relative;
    margin-bottom: 20px;
  }
  .masonry .item img {
    width: 90%;
  }
  .masonry .item .title {
    position: absolute;
    bottom: 40px;
    left: 20px;
    color: white;
    font-size: 14pt;
    font-weight: bold;
    width: 80%;
    margin-bottom: 10px;
  }
  .masonry .item .artist {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 13pt;
    width: 80%;
  }
  /* Media queries to adjust column width */
  @media screen and (max-width: 2440px) {
    .masonry .column {
      width: 25%;
    }
  }
  @media screen and (max-width: 800px) {
    .masonry .column {
      width: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .masonry .column {
      width: 100%;
    }
  }