/* Including Libre Baskerville Bold font */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700');

.galleria {
    padding-left: 20px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-top: 0%;
}

.header {
    margin-top: 3%;
}

.startslideshow {
    float: right;
}

.stopslideshow {
    float: right;
    margin-top: 1%;
}

.heroimage {
    position: relative;
    margin-bottom: 40%;
}

.heroimage img {
    width: 100vw;
    margin: auto;
    max-height: 70vh;
}

.view-image-btn:hover {
    background-color: white;
    color: black;
}

.view-image-btn {
    position: absolute;
    top: 7%;
    left: 30px;
    display: block;
    margin: 30px auto;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 10;
}

.titleandartistbox {
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 70%;
    z-index: 1;
    background-color: white;
    padding-left: 25px;
  }

.title {
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
    font-size: 15pt;
    /* line-height 19px; */
}

.artist {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 13pt;
    /* line-height: 15px; */
    color: #7D7D7D;
    color: rgb(243, 243, 243) hsl(0, 0%, 95%)
}

.textblurb {
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    line-height: 28px;
}

.artistimage {
    display: inline-block;    
    margin-bottom: 30px;
    padding-left: 20px;
}

.artistimage img {
    width: 100%;
    margin-top: 20%;
}

.year {
    display: inline-block;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700; /* Bold */
    opacity: 30%;
    /* margin-bottom: 20px; */
    width: 50%;
    color: #7D7D7D;
    color: rgb(243, 243, 243) hsl(0, 0%, 95%);
    position: absolute;
    right: 0%;
    top: 60%;
}

.year h1 {
    font-size: 70px;
}

.slideshow-progress {
    position: relative;
    height: 4px;
    background-color: #ddd;
    margin-top: 20px;
  }
  
.progress-bar {
    position: absolute;
    height: 100%;
    background-color: #4CAF50;
    width: 0%;
    transition: width 0.5s;
  }
  
.titleandartist {
    float: left;
    width: 40%;
}


.footer .artist {
    width: 50%;
    color: black;
}

.titleandartistfooter {
    float: left;
    width: 100%;
}

.slideshow-controls {
    float: right;
    width: 100%;
    margin-top: 8%;
    margin-right: 8%;
    gap: 20px; 
}

.slideshow-controls button {
    padding: 15px;
    margin-right: 10px;
    margin-left: 10px;
    width: 100px;
    background-color: black;
    color: white;
}
  
#lightbox {
    display: block;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
  }
  
#lightbox img {
    max-width: 90vw;
    max-height: 90vh;
    margin-top: 15%;
    }

#close-btn {
    position: absolute;
    top: 10%;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    background-color: black;
    cursor: pointer;
}


@media (min-width: 769px) {

    .heroimage {
        margin-bottom: 35%;
    }

    .heroimage img {
        width: 60%;
        margin: auto;
        height: 70vh;
    }

    .view-image-btn {
        position: absolute;
        top: 65%;
        left: 2%;
        height: 10%;
    }

    .titleandartistbox {
        position: absolute;
        top: 0%;
        left: 40%;
        width: 30%;
        height: 40%;
      }

      .titleandartistbox h1 {
        font-size: 29pt;
      }

      .titleandartistbox p {
        font-size: 15pt;
      }

      .artistimage {
        position: absolute;
        right: 20%;
        top: 45%;
    }

    .year {
        position: absolute;
        top: 70%;
        left: 5%;
        font-size: 100px;
        line-height: 150px;
        color: rgb(229, 229, 229) hsl(0, 0%, 90%);
    }

    .textblurb {
        position: absolute;
        width: 80%;
        top: 80%;    
        margin: 10%;
        right: 0;
    }


    .titleandartistfooter {
        float: left;
        width: 50%;
    }
    
    .slideshow-controls {
        float: right;
        width: 40%;
        margin-top: 8%;
        margin-right: 8%;
        gap: 20px; 
    }
    
    .slideshow-controls button {
        padding: 15px;
        margin-right: 10px;
        margin-left: 10px;
        width: 100px;
        background-color: black;
        color: white;
    }
}

@media (min-width: 1440px) {

    .heroimage {
        position: relative;
        width: 100%;
        margin-bottom: 0%;
        margin-top: 5%;
    }

    .heroimage img {
        width: 40%;
        margin: auto;
        padding-bottom: 0%;
        max-height: 80vh;
    }

    .view-image-btn {
        position: absolute;
        top: 70%;
        left: 15px;
        width: 10%;
        height: 10%;
    }

    .titleandartistbox {
        position: absolute;
        top: 0%;
        left: 30%; 
        width: 30%;
        height: 40%;
      }

      .titleandartistfooter {
        float: left;
        width: 50%;
    }

      .title {
        font-size: 30px;
      }

      .artist {
        font-size: 25px;
    }

      .artistimage {
        position: absolute;
        right: 50%;
        top: 70%;
    }

    .year {
        position: absolute;
        top: 7%;
        left: 65%;
        font-size: 100px;
        line-height: 150px;
        width: 10%;
    }

    .textblurb {
        position: absolute;
        width: 30%;
        right: 0%;
        top: 25%;    
        margin-bottom: 10%;
        z-index: 1;

    }

}